<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-home *ngIf="folder === 'Accueil'"></app-home>
    <app-connexion *ngIf="folder === 'Connexion'"></app-connexion>
    <app-register *ngIf="folder === 'Inscription'"></app-register>
  </div>
</ion-content>
