<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="header-menu">
            <img src="assets/icon/favicon.png" alt="logo" width="50"/>
            <ion-list-header>FaceGouv</ion-list-header>
          </div>
          <div class="border-app">
            <h4 class="ion-text-center">Application</h4>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                        routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div class="border-my-account">
            <h4 class="ion-text-center">Mon compte</h4>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesAccount; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none"
                        detail="false"
                        routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
