.return {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 0 20px 20px;
  ion-icon {
    font-size: 2rem;
  }
}

.connexion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    color: black;
  }
  .input-style {
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    margin: 20px 10px;
    box-shadow: 0 4px 16px rgb(0 0 0 / 12%);
    border-radius: 25px;
    height: 50px;
    label {
      position: absolute;
      color: var(--ion-color-primary);
      margin-left: 15px;
      top: -20px;
    }
    input {
      position: absolute;
      margin-left: 10px;
      color: var(--ion-color-primary);
      background-color: transparent;
      border: none;
      outline: none;
      width: calc(100% - 20px);
      height: 40px;
    }
  }
  ion-button {
    margin-top: 20px;
  }
}
