<div>
  <a [routerLink]="['/folder/home']" class="return">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Retour</a>
  <div class="connexion-form">
    <div class="input-style">
      <label>Email</label>
      <input type="email" required="required" [(ngModel)]="user.email">
    </div>
    <div class="input-style">
      <label>Mot de passe</label>
      <input type="password" required="required" [(ngModel)]="user.password">
    </div>
    <a href="http://127.0.0.1:4200/forgotten-password">Mot de passe oublié</a>
    <ion-button color="success">Connexion</ion-button>
  </div>
</div>

