<div>
  <a [routerLink]="['/folder/home']" class="return">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Retour</a>
  <div class="register-form">
    <div class="input-style">
      <label>Prénom</label>
      <input type="text" required="required" [(ngModel)]="user.firstName">
    </div>
    <div class="input-style">
      <label>Nom</label>
      <input type="text" required="required" [(ngModel)]="user.lastName">
    </div>
      <div class="input-style">
        <label>Age</label>
        <input type="number" required="required" [(ngModel)]="user.age">
    </div>
    <div class="input-style">
      <label>Email</label>
      <input type="email" required="required" [(ngModel)]="user.email">
    </div>
    <div class="input-style">
      <label>Mot de passe</label>
      <input type="password" required="required" [(ngModel)]="user.password">
    </div>
    <div class="input-style">
      <label>Confirmez mot de passe</label>
      <input type="password" required="required" [(ngModel)]="confirmPassword">
    </div>
    <div class="input-style">
      <label>Téléphone</label>
      <input type="text" required="required" [(ngModel)]="user.tel">
    </div>
    <div class="input-style">
      <label>Code Postal</label>
      <input type="text" required="required" maxlength="5" [(ngModel)]="user.postalCode">
    </div>
    <ion-button color="success" (click)="signIn()">Inscription</ion-button>
  </div>
</div>
<app-footer></app-footer>
